.content-wrap {
  grid-area: c;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}