.item-wrap {
  /* box-shadow: 4px 4px #a9a5a590; */
  border-radius: 30px;
  margin: 50px 20px;
  padding: 20px 20px;
  width: 600px;
  height: 240px;
  background-color: #ffffff;
  display: flex;
  border: 4px solid rgba(41, 40, 40, 0.819);
}

.text-wrap {
  position: relative;
  left: 80px;
}

.item-wrap img {
  width: 230px;
  height: 160px;
}

.item-name {
  font-weight: 700;
  z-index: 1;
}

.item-price {
  position: relative;
  right: 220px;
  top: 160px;
  font-weight: 700;
  z-index: 1;
}

.item-btn {
  position: relative;
  left: 130px;
  top: 120px;
  font-weight: 600;
  z-index: 1;
}

.item-desc-wrap {
  position: absolute;
  top: 36px;
  width: 270px;
  left: 74px;
}

.item-category {
  position: relative;
  right: 140px;
  width: 270px;
  line-height: 22px;
  font-size: 16px;
}

/* .desc {
  font-weight: 700;
} */
